@font-face {
    font-family: 'nhg-light';
    src: url('assets/fonts/nhg-45-light.woff') format('woff');
    font-weight: 100; 
    font-style: normal; 
}

@font-face {
    font-family: 'nhg-lightitalic';
    src: url('assets/fonts/nhg-46-lightitalic.woff.ttf') format('woff');
    font-weight: 100; 
    font-style: normal; 
}

@font-face {
    font-family: 'nhg-roman';
    src: url('assets/fonts/nhg-55-roman.otf') format('opentype');
    font-weight: 100; 
    font-style: normal; 
}

@font-face {
    font-family: 'nhg-italic';
    src: url('assets/fonts/nhg-56-italic.otf') format('opentype');
    font-weight: 100; 
    font-style: normal; 
}

@font-face {
    font-family: 'nhg-medium';
    src: url('assets/fonts/nhg-65-medium.otf') format('opentype');
    font-weight: 100; 
    font-style: normal; 
}

@font-face {
    font-family: 'nhg-mediumitalic';
    src: url('assets/fonts/nhg-66-mediumitalic.otf') format('opentype');
    font-weight: 100; 
    font-style: normal; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'nhg-roman';
    color: white;
    text-align: center;
    overflow: hidden;
}

.heading-container {
    display: flex;
    justify-content: center;
    z-index: 1000;
    font-family: 'nhg-light';
    font-size: 5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.heading{
    position: fixed;
    cursor: pointer;
}


.background-container {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.background-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-container{
    overflow: auto;
}

.onion-text-container, .garlic-text-container, .leek-text-container, .chive-text-container{
    display: flex;
    height: 80vh;
    justify-content: center;
    width: 100%;
    font-family: 'nhg-light';
    font-size: 1.4rem;
    text-align: left;
    padding-top: 5rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
 
}


.left-container::-webkit-scrollbar, .right-container::-webkit-scrollbar, .top-container::-webkit-scrollbar {
    display: none;
  }

.left-container, .right-container{
    display: flex;
    align-items: center;
    width: 25%;
    overflow: auto;
}

.spacing-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    text-align: center;
    font-family: 'nhg-lightitalic';
}

.hidden{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


