@font-face {
    font-family: 'nhg-light';
    src: url('assets/fonts/nhg-45-light.woff') format('woff');
    font-weight: 100; 
    font-style: normal; 
}

@font-face {
    font-family: 'nhg-roman';
    src: url('assets/fonts/nhg-55-roman.otf') format('opentype');
    font-weight: 100; 
    font-style: normal; 
}

@font-face {
    font-family: 'nhg-italic';
    src: url('assets/fonts/nhg-56-italic.otf') format('opentype');
    font-weight: 100; 
    font-style: normal; 
}

@font-face {
    font-family: 'nhg-medium';
    src: url('assets/fonts/nhg-65-medium.otf') format('opentype');
    font-weight: 100; 
    font-style: normal; 
}

@font-face {
    font-family: 'nhg-mediumitalic';
    src: url('assets/fonts/nhg-66-mediumitalic.otf') format('opentype');
    font-weight: 100; 
    font-style: normal; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'nhg-roman';
    color: white;
    text-align: center;
    overflow: hidden;
}

.heading-container {
    position: absolute;
    z-index: 1;
    font-family: 'nhg-light';
    font-size: 5rem;
    padding: 1rem;
}

.background-container {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background-container .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.grid-container{
    width: 50%;
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10rem;
    overflow: scroll;
}
